# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

*vendor/

#Goland
.idea/

# binaries
carousel

# linter output
errors.txt

# outputs
.ignore/

# Mac specific
**/.DS_Store

# playground support terraform files
.terraform
*tfstate*

# integration tests
integration/testing_dir