[Unit]
Description=carousel description here
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/carousel.pid
ExecStartPre=/usr/bin/rm -f /run/carousel.pid
ExecStart=/usr/bin/carousel
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=10
KillMode=process
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target